<!-- {{log repos}} -->
  {{link-to repos.name 'org.repo.issues' repos.name}}
    <span class="grey-text">( Fork: {{nice-number repos.forks_count}}  Watchers: {{ nice-number repos.watchers_count}})</span>
