@import "bourbon";

.repo-nav {
      list-style:none;
      li
      {
          display:inline-block;
           a
           {
               font-weight:thin;
               text-decoration:none;
           }
           a.active{
               font-weight:bolder;
               text-decoration:underline;
           }
      }
}

.repo-name {
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: underline;

}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
 .grey-text{
   color: #999;
 }
