<h1>My favourite orgs</h1>

<ul>

	{{#each model as |cont|}}
	{{github-org
		org=cont
	  on-fav-clicked='addToFavorites'}}
	<!-- <li>
		<span {{action 'addToFavorites' cont}}> [Fav] </span>
		{{link-to cont.id 'org.repos' cont.id}}
	</li> -->

	{{/each}}
</ul>
